.header-container {
    /*NOTE: this image is generated through chatgpt*/
    background-image: url(../assets/hero-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;

}

.header-contents {
    text-align: center;
}

.header_title {
    color: var(--primary-color);
    font-family: 'Tenor Sans', Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: normal;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-transform: uppercase;
}

.header_subtitle {
    color: var(--primary-color);
    padding-bottom: 0.5rem;
    text-transform: uppercase;
}

.main_headline {
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;
}

.headline_new_in_btn,
.add_btn,
.section_btn,
.quick_view_btn,
.search_input,
.view_less_btn,
.view_more_btn,
.browse_btn {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    padding: 1rem 2rem;
    text-transform: uppercase;
}

.quick_view_btn,
.add_btn,
.view_less_btn,
.view_more_btn {
    margin-top: 0.5rem;
    width: 100%;

}

.browse_btn {
    padding: 1rem;
    margin-top: 0.5rem;
}

.headline_new_in_btn:hover,
.add_btn:hover,
.section_btn:hover,
.quick_view_btn:hover,
.search_input:hover,
.browse_btn:hover {
    border: 1px solid var(--CTA-hover);
    color: var(--CTA-hover);
    cursor: grab;
}

.section_btn {
    margin-top: 1rem;
}

.menu {
    color: var(--secondary-color);
    padding: 0.5rem;

}

.menu ul {
    padding: 0;
}

.menu_mobile_trigger {
    height: 30px;
    width: 30px;
    background-image: url(../assets/icon_hamburger.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu_items_wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.menu_items_wrapper a,
.about-us-link {
    color: var(--secondary-color);
    text-decoration: none;
    transition: 0.3s color;
}

.menu_items_wrapper a:hover,
.about-us-link:hover {
    color: var(--CTA-hover);
}

.menu_items_wrapper li {
    list-style-type: none;
}

.menu_items_wrapper h4 {
    margin-bottom: 0.5rem;
}

.menu:hover .menu_items_wrapper {
    max-height: 1000px;
}

.menu:hover {
    width: unset;
}

.menu_items_wrapper {
    max-height: 0;
    height: auto;
    overflow: hidden;
    transition: max-height linear 0.5s;

}

.menu_items_wrapper li.active h4 {
    color: var(--primary-color);
    font-family: 'Outfit Medium';

}

.main-content {
    background-color: var(--tertiary-light);
}

.new-in-section,
.best-seller-section,
.categories-section,
.testimonials-section {
    align-items: center;
    display: flex;
    flex-direction: column;

}

.headline {
    letter-spacing: 0.1rem;
    padding-bottom: 0.5rem;
    text-align: center;
    text-transform: uppercase;
}

.card_wrapper,
.testimonial_card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-between;
    margin: 1.5rem;

}

.ratings {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.cards_contents,
.testimonial_card_contents,
.view_more_cards_contents {
    align-content: end;
    background-color: var(--tertiary-dark);
    flex: 0 0 calc(25% - 0.5rem);
    justify-items: center;
    padding: 0.5rem;
    text-align: center;


}

.categories-section .card_wrapper,
.best-seller-section .card_wrapper {
    flex-direction: row;
}

.categories-section .card_wrapper>.cards_contents,
.best-seller-section .card_wrapper>.cards_contents,
.best-seller-section .view_more_content>.view_more_cards_contents {
    flex: 0 0 calc(50% - 0.5rem / 2);
}

.categories-section .cards_contents>img,
.categories-section .cards_contents>h4 {
    display: none;
}

.testimonials-section .testimonial_card_contents>h2,
.testimonials-section .testimonial_card_contents>p {
    font-size: 1rem;
}

.best-seller-section div:last-of-type {
    background-color: var(--tertiary-light);
}

.footer {
    background-color: var(--primary-color);
    color: var(--tertiary-light);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;

}


.footer_newsletter_input {
    background-color: var(--primary-color);
    border: 0;
    border-bottom: 2px solid var(--tertiary-light);
    color: var(--tertiary-light);
    max-width: 300px;
    padding: 0.5rem 3rem 0.5rem 0;
    width: 100%;
}

/*FA star icon*/
.unchecked {
    color: var(--tertiary-light)
}

/*MIMICS js click event for view more fxn*/

#show {
    display: none;
}

#show:checked~.view_more_content {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-between;
    margin: 1.5rem;
}

#show:checked~label {
    display: none
}

.view_more_content {
    display: none;
}

@media(min-width:769px) {

    .header_title {
        font-size: 5rem;
        padding-top: 0;
    }

    .header_subtitle {
        padding-bottom: 2rem;
    }

    .menu_items_wrapper {
        justify-content: space-evenly;
        margin: 0rem auto;
        padding: 1rem 2rem;
        max-height: unset;
        flex-direction: row;
    }

    .menu:hover .menu_items_wrapper {
        display: flex;

    }

    .menu_mobile_trigger {
        display: none;
    }

    .menu_items_wrapper li.active h4 {
        border-bottom: 2px solid var(--CTA-hover);

    }

    .card_wrapper,
    .testimonial_card {
        flex-direction: row;
    }

    .categories-section .cards_contents>img,
    .categories-section .cards_contents>h4 {
        display: flex;
    }

    .testimonials-section .testimonial_card_contents>h2 {
        font-size: 1.5rem;
    }

    .testimonials-section .testimonial_card_contents>p {
        font-size: 1.2rem;
    }

    .browse_btn {
        width: 100%;
    }

    .categories-section .card_wrapper>.cards_contents,
    .best-seller-section .card_wrapper>.cards_contents,
    .best-seller-section .view_more_content>.view_more_cards_contents {
        flex: 0 0 calc(25% - 0.5rem);
    }

    #show:checked~.view_more_content {
        flex-direction: row;
    }

    .header-container {
        min-height: 100vh;
    }

    .footer {
        flex-direction: row;
        gap: 5rem;

    }

}